
.cm_banner{
  position:relative;

  // swiper 
  .banner_slide{    
    overflow:hidden;
    margin: 0 -15px 0;
    padding: 0 15px;
    &~.swiper-pagination{
      position:relative;
      bottom:auto;
      left:auto;
      line-height:6px;
      .swiper-pagination-bullet{
        margin-top:10px;
        vertical-align:top;
      }
    }
  }
}

// banner 카드 default 는 이미지 우측 정렬
.cm_banner_card{
  position:relative;
  display:flex;
  align-items:center;
  border-radius:6px;
  font-size:0;
}

.banner_info{    
  margin-bottom:5px;
  padding:20px calc(39.13% + 5px) 18px 15px;
  background:#484848;
  border-radius:6px;
  .title{
    display:block;
    font-size:15px;
    line-height:21px;
    font-weight:500;
    color:#fff;
    @include ellipsis(2);
  }
  .sub{
    font-size:14px;
    line-height:21px;
    font-weight:500;
    color:rgba(255,255,255,.65);
    &+.sub{
      &:before{
        content:'';
        display:inline-block;
        margin:0 6px;
        width:2px;
        height:2px;
        background-color:$Gray7;
        border-radius:50%;
        vertical-align:middle;
      }
    }
  }
}
.banner_thumb{
  flex-shrink:0;
  width:39.130%;
  img{
    width:100%;
    border-radius:6px 0 0 6px;
  }
}
.banner_info + .banner_thumb{
  position:absolute;
  right:0;
  bottom:-5px;
  img{
    border-radius:0;
  }
}

// 이미지 좌측에 있을 경우
.banner_thumb + .banner_info{
  padding:12px 15px;
  background:transparent;
  .title{
    color:#000;
  }
  .sub{
    font-size:12px;
    line-height:18px;
    color:$Gray7
  }
}