.goods_news{
  padding-top:10px;
  .news_list{
    display:flex;
    flex-wrap:wrap;
  }
  .news_item{
    padding-bottom:25px;
    width:calc(50% - 1.5px);
    &:nth-child(even){
      margin-left:3px;
    }
  }
  .news_thumb{
    position:relative;
    overflow:hidden;
    padding-top:calc(114 / 171 * 100%);
    border-radius:6px;
    .cm_link{
      position:absolute;
      top:0;
      right:0;
      bottom:0;
      left:0;
    }
    img{
      @include img-object;
    }
  }
  .news_detail{
    padding:10px 10px 0 0;
    .title{
      display:block;
      font-size:15px;
      line-height:22px;
      font-weight:400;
      @include ellipsis(2);
      color:#000;
    }
    .sub{
      display:inline-flex;
      max-width:100%;
      font-size:12px;
      line-height:18px;
      color:$Gray7;
      .item{
        @include ellipsis;
        &+.item{
          flex:1 0 auto;
          overflow:visible;
          white-space:normal;
          text-overflow:unset;
          &:before{
            content:'';
            display:inline-block;
            margin:0 6px;
            width:2px;
            height:2px;
            border-radius:50%;
            background:$Gray7;
            vertical-align:3px;
          }
        }
      }
      a.item{
        color:$Blue
      }
    }
  }
}

.goods_update{
  &+.goods_update{
    padding-top:30px;
  }
  .update_list{
    display:flex;
    flex-wrap:wrap;
    &.type_dimmed{
      .update_thumb{
        background:$Gray1;
        img{
          object-fit:cover;
          mix-blend-mode:multiply;
        }
      }
    }
  }
  .update_item{
    min-height:100px;
    flex-basis:calc(25% - 2.5px);
    margin:0 0 4px 3px;
    &:nth-child(4n + 1){
      margin-left:0;
    }
    &:nth-last-child(-n + 4){
      margin-bottom:0;
    }
  }
  .update_thumb{
    position:relative;
    padding-top:calc(100 / 84 * 100%);
    img{
      @include img-object(contain);
    }
  }
  .update_more{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    .text_wrap{
      display:block;
      font-size:10px;
      line-height:24px;
      color:#000;
    }
    .num{
      padding-right:2px;
      font-size:16px;
      line-height:24px;
      font-weight:700;
      vertical-align:middle;
    }
    .more_link{
      margin-top:2px;
      display:inline-block;
      vertical-align:top;
      padding:2px 8px;
      font-size:12px;
      line-height:18px;
      border:1px solid $Gray5;
      border-radius:4px;
      color:#000;
    }
  }
  .update_info{
    padding-top:9px;
    font-size:0;
    .title{
      display:block;
      font-size:15px;
      line-height:22px;
      font-weight:400;
    }
    .text_wrap{
      padding-top:3px;
      line-height:18px;
    }
    .sub{
      font-size:12px;
      vertical-align:middle;
      color:$Gray7;
      &+.sub{
        &:before{
          content:'';
          display:inline-block;
          vertical-align:middle;
          margin:0 6px;
          width:2px;
          height:2px;
          background:$Gray7;
        }
      }
    }
    .badge_text{
      display:inline-block;
      vertical-align:top;
      margin-left:6px;
      padding:0 7px;
      height:18px;
      border:1px solid $Gray4;
      border-radius:9px;
      font-size:10px;
      font-weight:500;
      color:#000;
      box-sizing:border-box;
    }
  }
}
