.md_goods{
  .goods_list{
    display:flex;
    flex-wrap:wrap;    
    justify-content:space-between;
  }
  .goods_link{
    display:block;
  }
  .goods_thumb{
    position:relative;
    overflow:hidden;
    img{
      position:absolute;
      left:0;
      top:50%;
      width:100%;
      height:auto;
      transform:translateY(-50%);
    }
  }
  .goods_detail{
    display:flex;
    flex-wrap:wrap;
  }
  .goods_name{
    width:100%;
    font-size:12px;
    line-height:18px;
    color:$Gray7;
    @include ellipsis;
  }
  .goods_price{
    font-weight:500;
    color:#000;
  }
  .goods_sale{
    font-weight:500;
    color:$Red1;
  }
  .goods_coupon{
    padding:0 3px 0 3px;
    background:#4162c9;
    border-radius: 2px;;
    font-size:9px;
    height:15px;
    line-height:15px;
    color:#fff;
  }

  // 상품 모듈 '랭킹'
  &.type_rank{
    .goods_list{
  
    }
    .goods_item{
      width:calc(33.333% - 2px);
      padding-bottom:20px;
      // 데이터 5개 경우 1,2번째
      &:nth-last-child(5):first-child,
      &:nth-last-child(5):first-child+.goods_item{
        width:calc(50% - 1.5px);
        .rank_badge{
          width:24px;
          height:24px;
          line-height:24px;
          background:$Gray9;
        }
        .goods_price{
          font-size:15px;
          line-height:22px;
        }
        .goods_sale{
          font-size:15px;
          line-height:22px;
        }
      }
    }
    .goods_thumb{
      padding-top:calc(136 / 113 * 100%);
    }
    .goods_detail{
      justify-content:space-between;
      align-items:center;
      padding-top:10px;
    }
    .goods_price{
      font-size:13px;
      line-height:19px;
    }
    .goods_sale{
      font-size:10px;
      line-height:13px;
      letter-spacing:-0.5px;
    }
    .rank_badge{
      position:absolute;
      left:0;
      top:0;
      width:22px;
      height:22px;
      background:$Gray6;
      font-size:12px;
      line-height:22px;
      text-align:center;
      color:#fff;
      z-index:2;
    }
  }

  // 상품 모듈 '코디'
  &.type_coordi{

  }

  // 상품 모듈 '업데이트'
  &.type_update{

  }
}