// Sprites Map
$sp_common: (
    name: 'sp_common',
    width: 190px,
    height: 133px,
    image: '../img/sp_common.png',
    sprites: (
    alarm: (
            offset-x: 0px,
            offset-y: -36px,
            width: 40px,
            height: 46px,
        ),
        cart: (
            offset-x: 0px,
            offset-y: -86px,
            width: 36px,
            height: 47px,
        ),
        like: (
            offset-x: -44px,
            offset-y: -36px,
            width: 46px,
            height: 40px,
        ),
        logo: (
            offset-x: 0px,
            offset-y: 0px,
            width: 190px,
            height: 32px,
        ),
    )
);