// Sprites Map
$sp_main: (
    name: 'sp_main',
    width: 80px,
    height: 40px,
    image: '../img/sp_main.png',
    sprites: (
    autoplay: (
            offset-x: 0px,
            offset-y: 0px,
            width: 52px,
            height: 40px,
        ),
        filter: (
            offset-x: -56px,
            offset-y: 0px,
            width: 24px,
            height: 26px,
        ),
    )
);