// Sprites Map
$sp_common: (
    name: 'sp_common',
    width: 190px,
    height: 177px,
    image: '../img/sp_common.png',
    sprites: (
    alarm: (
            offset-x: 0px,
            offset-y: -80px,
            width: 40px,
            height: 46px,
        ),
        arrow14: (
            offset-x: -44px,
            offset-y: -80px,
            width: 28px,
            height: 28px,
        ),
        arrow18: (
            offset-x: -106px,
            offset-y: -36px,
            width: 36px,
            height: 36px,
        ),
        autoplay: (
            offset-x: 0px,
            offset-y: -36px,
            width: 52px,
            height: 40px,
        ),
        cart: (
            offset-x: 0px,
            offset-y: -130px,
            width: 36px,
            height: 47px,
        ),
        filter: (
            offset-x: -76px,
            offset-y: -80px,
            width: 24px,
            height: 26px,
        ),
        like: (
            offset-x: -56px,
            offset-y: -36px,
            width: 46px,
            height: 40px,
        ),
        logo: (
            offset-x: 0px,
            offset-y: 0px,
            width: 190px,
            height: 32px,
        ),
        refresh: (
            offset-x: -146px,
            offset-y: -36px,
            width: 36px,
            height: 36px,
        ),
    )
);