// fixed 된 header 높이값
$HeaderHeight: 50px;

// 컬러 변수는 _base에서 확인
$Gray1: var(--OldGray1);
$Gray2: var(--OldGray2);
$Gray3: var(--OldGray3);
$Gray4: var(--OldGray4);
$Gray5: var(--Gray5);
$Gray6: var(--OldGray6);
$Gray7: var(--OldGray7);
$Gray9: var(--OldGray9);
$Red1: var(--Red1);
$Blue: var(--Blue);