
@import '../abstract/mixin';
@import '../abstract/variables';
// header
.header{
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0;
  right:calc(env(safe-area-inset-right) + 0px);
  left:calc(env(safe-area-inset-left) + 0px);
  height:$HeaderHeight;
  background:#fff;
  z-index:10;

  .m_logo{
    @include get-sprite('logo',$sp_common);
    a{
      display:block;
      height:100%;
    }
  }
  .header_left,
  .header_right{
    position:absolute;
    font-size:0;
  }
  .header_left{
    left:11px;
  }
  .header_right{
    right:11px;
  }

  [class^="btn"]{
    position:relative;
    display:inline-block;
    width:30px;
    height:30px;
    font-size:13px;
    vertical-align:middle;
    &:before{
      content:'';
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
    }

    &+[class^="btn"]{
      margin-left:10px;
    }
  }
  
  .btn_alarm{
    &:before{
      @include get-sprite('alarm',$sp_common);
    }
    .alarm_new{
      position:absolute;
      top:0;
      right:0;
      width:4px;
      height:4px;
      background:$Blue;
      border-radius:50%;
    }
  }
  .btn_like{
    &:before{
      @include get-sprite('like',$sp_common);
    }
  }
  .btn_cart{
    &:before{
      @include get-sprite('cart',$sp_common);
    }
    .cart_counting{
      position:absolute;
      right:-3px;
      bottom:-3px;
      height:18px;
      line-height:18px;
      padding:0 5px;
      border-radius:9px;
      background:$Blue;
      font-size:11px;
      color:#fff;
    }
  }
}