@import './public/base';
@import './public/header';

#container{
  margin-top:$HeaderHeight;
}

//공통 article
.cm_article{
  clear:both;
  position:relative;
  &_inner{
    padding:0 15px;
  }
}
// footer