@import './public/base';
@import './public/header';

#container{
  margin-top:$HeaderHeight;
}

//공통 article
.cm_article{
  clear:both;
  position:relative;
  &_inner{
    padding:0 15px;
  }
}

//공통 section
.cm_section{

}

//최 하단 정보
.cm_sub_info{
  font-size:12px;
  line-height:18px;
  color:$Gray6;
}

.cm_btn_more{

}
// footer